@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}
h1{
    font-weight: 600;
    text-transform: uppercase;
  font-size: 3.5em;
  margin-top: 25px;
}
.subtitulo{
    text-transform: uppercase;
}
.bg-primary {
    background-color: #cc3333 !important; 
}
.btn-primary {
    background-color: #cc3333;
    color: #FFFFFF;
    --bs-btn-border-color:none;
  }    
  .btn-primary:hover{
  background-color: #dd5757;
  color: #FFFFFF;
  box-shadow: none;
}
.section {
    padding: 70px 0;
    position: relative;
    background: #FFFFFF;
}
.btn-outline-primary {
    --bs-btn-color: #cc3333;
    --bs-btn-border-color: #cc3333;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cc3333;
    --bs-btn-hover-border-color: #cc3333;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cc3333;
    --bs-btn-active-border-color: #cc3333;
    --bs-btn-disabled-color: #cc3333;
    --bs-btn-disabled-border-color: #cc3333;
}